<h1>About Me</h1>
<p>
  My name is David Liu, and "High Eagle" is my name translated directly from Chinese!
</p>
<p>
  Equipped with a background in both chemical engineering and computer science, I am currently dedicating my time solely to becoming the best software engineer I can be.  The two words that describe me best are pragmatic and efficient.
</p>
<p>
  Check out my projects!  Contact me at higheaglestudios@gmail.com
</p>
