<h1>About <%= Rails.env %></h1>
<p>
  Hello everyone and welcome to High Eagle Studios!
</p>
<p>
  Check out my projects!  Contact "High Eagle" (most people call me David) at higheaglestudios@gmail.com
</p>
