<h1>About</h1>

<div class='fill'>
<p>
  Hello everyone and welcome to High Eagle Studios!
  Check out my projects! My goal is to create high-quality casual games.
</p>
<p>
  Contact "High Eagle" (most people call me David) at higheaglestudios@gmail.com
</p>
</div>
