<h1>Code Name: "Cat Tap Two"</h1>

<p>
  In this upcoming version of the game, Lucky explores new worlds, discovers his enemy King Mousey III, and chases after a leprechaun! We will
  be introducing new ways to play the game and new power-ups so keep an eye out!
  <span class='label label-important'>Coming Soon!</span>
</p>

<section>
  <%= image_tag('lct2\banner.jpg') %>
</section>

<h2>The Cast</h2>

<div id="characters" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag('lct2\lucky.png') %>
      <div class='carousel-caption'>
        <p>Lucky is back for a brand new adventure!<p>
      </div>
    </div>

    <div class="item">
      <%= image_tag('lct2\lion.png') %>
      <div class='carousel-caption'>
        <p>Who is this mysterious character? Is it an enemy or Lucky in disguise?<p>
      </div>
    </div>

    <div class="item">
      <%= image_tag('lct2\rat_king.png') %>
      <div class='carousel-caption'>
        <p>What mischief is King Mousey III planning?<p>
      </div>
    </div>
  </div>

  <a class="carousel-control left" href="#characters" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#characters" data-slide="next">&rsaquo;</a>
</div>
