body {
  text-align: center;
  font-family: verdana, helvetica;
  font-size: 18px;
}

#content {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

a:visited, a:link {
  text-decoration: none;
  padding: 0em 0.5em 0em 0.5em;
}

a:hover {
  color: #FF00FF;
}

footer {
  margin-top: 2em;
  font-size: 14px;
}
